body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ECF0F1;
    color: #2C3E50;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2C3E50;
    color: white;
    padding: 1em;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 2em 0;
}

.voting-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.voting-card {
    background-color: #FFFFFF;
    border: 1px solid #34495E;
    border-radius: 10px;
    width: 45%;
    margin: 1em 0;
    padding: 1em;
    text-align: center;
}

.voting-card img {
    max-width: 100%;
    border-radius: 10px;
}

.vote-button {
    background-color: #E74C3C;
    color: white;
    border: none;
    padding: 0.5em 1em;
    margin-top: 1em;
    cursor: pointer;
}

footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
